In [1]:
import pandas as pd
sales = pd.read_csv(r'C:\Users\Admin\Documents\DAC Hoang Thi My Linh\Python\Data Wrangling Practise\Data Wrangling Practise\sales.csv')
prices = pd.read_csv(r'C:\Users\Admin\Documents\DAC Hoang Thi My Linh\Python\Data Wrangling Practise\Data Wrangling Practise\prices.csv')
print(sales)
print(prices)

     product_id     ordered_at  quantity_ordered
0       3998909  9/18/18 17:51                 1
1       3998909  9/18/18 12:52                 1
2       3998909  9/18/18 11:33                 1
3       3998909  9/18/18 18:47                 1
4       3998909  9/18/18 17:36                 1
..          ...            ...               ...
170     4085861  9/13/18 23:29                 1
171          64  9/11/18 19:32                 1
172          64  9/14/18 20:10                 1
173          64  9/12/18 16:00                 1
174          64  9/12/18 13:23                 1

[175 rows x 3 columns]
    product_id  old_price  new_price     updated_at
0           64     270000     239000  9/10/18 16:37
1      3954203      60000      64000  9/11/18 11:54
2      3954203      60500      57500  9/17/18 22:59
3      3954203      64000      60500   9/15/18 3:49
4      3954203      68800      60000  9/10/18 16:32
5      3998909      15500      16500   9/16/18 5:09
6      3998909      17000      15500   9/13/18 6:43
7      3998909      19000      17000  9/10/18 16:35
8      4085861      53500      52000  9/17/18 22:59
9      4085861      53500      67000   9/12/18 3:51
10     4085861      58000      53500   9/17/18 3:35
11     4085861      60000      53500   9/11/18 8:51
12     4085861      62500      58000   9/15/18 3:51
13     4085861      67000      62500   9/13/18 6:43

In [2]:
#merge two tables on product_id
join_table= pd.merge(sales,prices, on = 'product_id')
print(join_table)

     product_id     ordered_at  quantity_ordered  old_price  new_price  \
0       3998909  9/18/18 17:51                 1      15500      16500
1       3998909  9/18/18 17:51                 1      17000      15500
2       3998909  9/18/18 17:51                 1      19000      17000
3       3998909  9/18/18 12:52                 1      15500      16500
4       3998909  9/18/18 12:52                 1      17000      15500
..          ...            ...               ...        ...        ...
949     4085861  9/13/18 23:29                 1      67000      62500
950          64  9/11/18 19:32                 1     270000     239000
951          64  9/14/18 20:10                 1     270000     239000
952          64  9/12/18 16:00                 1     270000     239000
953          64  9/12/18 13:23                 1     270000     239000

        updated_at
0     9/16/18 5:09
1     9/13/18 6:43
2    9/10/18 16:35
3     9/16/18 5:09
4     9/13/18 6:43
..             ...
949   9/13/18 6:43
950  9/10/18 16:37
951  9/10/18 16:37
952  9/10/18 16:37
953  9/10/18 16:37

[954 rows x 6 columns]

In [3]:
#calculate differences between ordered_date and updated_date
import numpy as np
join_table['diff_days']= (pd.to_datetime(join_table.loc[:,'ordered_at'])-pd.to_datetime(join_table.loc[:,'updated_at']))/np.timedelta64(1, 'D')
join_table['abs_diff_days'] = join_table['diff_days'].abs()
print(join_table)

     product_id     ordered_at  quantity_ordered  old_price  new_price  \
0       3998909  9/18/18 17:51                 1      15500      16500
1       3998909  9/18/18 17:51                 1      17000      15500
2       3998909  9/18/18 17:51                 1      19000      17000
3       3998909  9/18/18 12:52                 1      15500      16500
4       3998909  9/18/18 12:52                 1      17000      15500
..          ...            ...               ...        ...        ...
949     4085861  9/13/18 23:29                 1      67000      62500
950          64  9/11/18 19:32                 1     270000     239000
951          64  9/14/18 20:10                 1     270000     239000
952          64  9/12/18 16:00                 1     270000     239000
953          64  9/12/18 13:23                 1     270000     239000

        updated_at  diff_days  abs_diff_days
0     9/16/18 5:09   2.529167       2.529167
1     9/13/18 6:43   5.463889       5.463889
2    9/10/18 16:35   8.052778       8.052778
3     9/16/18 5:09   2.321528       2.321528
4     9/13/18 6:43   5.256250       5.256250
..             ...        ...            ...
949   9/13/18 6:43   0.698611       0.698611
950  9/10/18 16:37   1.121528       1.121528
951  9/10/18 16:37   4.147917       4.147917
952  9/10/18 16:37   1.974306       1.974306
953  9/10/18 16:37   1.865278       1.865278

[954 rows x 8 columns]

In [4]:
#find out the minimum values of abs_diff_days for each product_id at each order date and quantity
group = join_table.groupby(['product_id','ordered_at','quantity_ordered'])['abs_diff_days'].min()
group_frame = pd.DataFrame(group)
print(group_frame)

                                           abs_diff_days
product_id ordered_at    quantity_ordered
64         9/11/18 19:32 1                      1.121528
           9/12/18 13:23 1                      1.865278
           9/12/18 16:00 1                      1.974306
           9/14/18 20:10 1                      4.147917
3954203    9/11/18 11:11 1                      0.029861
...                                                  ...
4085861    9/18/18 20:54 1                      0.913194
           9/18/18 6:47  1                      0.325000
           9/18/18 6:53  1                      0.329167
           9/18/18 7:01  1                      0.334722
           9/18/18 8:29  1                      0.395833

[173 rows x 1 columns]

In [5]:
#join group_frame with join_table to take the new and old price
second_join = group_frame.merge(join_table,on = ['product_id','ordered_at','abs_diff_days'],how = 'left')
print(second_join)

     product_id     ordered_at  abs_diff_days  quantity_ordered  old_price  \
0            64  9/11/18 19:32       1.121528                 1     270000
1            64  9/12/18 13:23       1.865278                 1     270000
2            64  9/12/18 16:00       1.974306                 1     270000
3            64  9/14/18 20:10       4.147917                 1     270000
4       3954203  9/11/18 11:11       0.029861                 1      60000
..          ...            ...            ...               ...        ...
170     4085861  9/18/18 20:54       0.913194                 1      53500
171     4085861   9/18/18 6:47       0.325000                 1      53500
172     4085861   9/18/18 6:53       0.329167                 1      53500
173     4085861   9/18/18 7:01       0.334722                 1      53500
174     4085861   9/18/18 8:29       0.395833                 1      53500

     new_price     updated_at  diff_days
0       239000  9/10/18 16:37   1.121528
1       239000  9/10/18 16:37   1.865278
2       239000  9/10/18 16:37   1.974306
3       239000  9/10/18 16:37   4.147917
4        64000  9/11/18 11:54  -0.029861
..         ...            ...        ...
170      52000  9/17/18 22:59   0.913194
171      52000  9/17/18 22:59   0.325000
172      52000  9/17/18 22:59   0.329167
173      52000  9/17/18 22:59   0.334722
174      52000  9/17/18 22:59   0.395833

[175 rows x 8 columns]

In [6]:
#calculate the price at the order date
second_join.loc[second_join['diff_days']<0,'price'] = second_join['old_price']
second_join.loc[second_join['diff_days']>=0,'price'] = second_join['new_price']
print(second_join)

     product_id     ordered_at  abs_diff_days  quantity_ordered  old_price  \
0            64  9/11/18 19:32       1.121528                 1     270000
1            64  9/12/18 13:23       1.865278                 1     270000
2            64  9/12/18 16:00       1.974306                 1     270000
3            64  9/14/18 20:10       4.147917                 1     270000
4       3954203  9/11/18 11:11       0.029861                 1      60000
..          ...            ...            ...               ...        ...
170     4085861  9/18/18 20:54       0.913194                 1      53500
171     4085861   9/18/18 6:47       0.325000                 1      53500
172     4085861   9/18/18 6:53       0.329167                 1      53500
173     4085861   9/18/18 7:01       0.334722                 1      53500
174     4085861   9/18/18 8:29       0.395833                 1      53500

     new_price     updated_at  diff_days     price
0       239000  9/10/18 16:37   1.121528  239000.0
1       239000  9/10/18 16:37   1.865278  239000.0
2       239000  9/10/18 16:37   1.974306  239000.0
3       239000  9/10/18 16:37   4.147917  239000.0
4        64000  9/11/18 11:54  -0.029861   60000.0
..         ...            ...        ...       ...
170      52000  9/17/18 22:59   0.913194   52000.0
171      52000  9/17/18 22:59   0.325000   52000.0
172      52000  9/17/18 22:59   0.329167   52000.0
173      52000  9/17/18 22:59   0.334722   52000.0
174      52000  9/17/18 22:59   0.395833   52000.0

[175 rows x 9 columns]

In [7]:
#calculate revenue =  quantity * price
second_join['revenue'] = second_join['quantity_ordered'] * second_join['price']
print(second_join)

     product_id     ordered_at  abs_diff_days  quantity_ordered  old_price  \
0            64  9/11/18 19:32       1.121528                 1     270000
1            64  9/12/18 13:23       1.865278                 1     270000
2            64  9/12/18 16:00       1.974306                 1     270000
3            64  9/14/18 20:10       4.147917                 1     270000
4       3954203  9/11/18 11:11       0.029861                 1      60000
..          ...            ...            ...               ...        ...
170     4085861  9/18/18 20:54       0.913194                 1      53500
171     4085861   9/18/18 6:47       0.325000                 1      53500
172     4085861   9/18/18 6:53       0.329167                 1      53500
173     4085861   9/18/18 7:01       0.334722                 1      53500
174     4085861   9/18/18 8:29       0.395833                 1      53500

     new_price     updated_at  diff_days     price   revenue
0       239000  9/10/18 16:37   1.121528  239000.0  239000.0
1       239000  9/10/18 16:37   1.865278  239000.0  239000.0
2       239000  9/10/18 16:37   1.974306  239000.0  239000.0
3       239000  9/10/18 16:37   4.147917  239000.0  239000.0
4        64000  9/11/18 11:54  -0.029861   60000.0   60000.0
..         ...            ...        ...       ...       ...
170      52000  9/17/18 22:59   0.913194   52000.0   52000.0
171      52000  9/17/18 22:59   0.325000   52000.0   52000.0
172      52000  9/17/18 22:59   0.329167   52000.0   52000.0
173      52000  9/17/18 22:59   0.334722   52000.0   52000.0
174      52000  9/17/18 22:59   0.395833   52000.0   52000.0

[175 rows x 10 columns]

In [8]:
#calculate revenue of each product_id at each price
result = second_join.groupby(['product_id','price'])['revenue'].sum()
print(result)

product_id  price
64          239000.0     956000.0
3954203     57500.0       57500.0
            60000.0      180000.0
            64000.0      640000.0
3998909     15500.0       15500.0
            16500.0      231000.0
            17000.0       34000.0
4085861     52000.0     1040000.0
            53500.0     2140000.0
            58000.0     2204000.0
            60000.0      180000.0
            62500.0     1812500.0
            67000.0      871000.0
Name: revenue, dtype: float64